<meta charset="utf-8"/>
<textarea name="txt" id="module-res-word">
  <div class="m-pg-p-r-w">
	<a class="word-stock-doc"
     href="https://github.com/x-orpheus/nei-toolkit/blob/master/doc/%E5%8F%82%E6%95%B0%E8%AF%8D%E6%9D%A1%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E.md#nei%E5%B9%B3%E5%8F%B0%E5%8F%82%E6%95%B0%E8%AF%8D%E6%9D%A1%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E"
     target="_blank">参数字典使用说明</a>
	<div class="list-content">
		<div class="resource-feature-part f-dn js-more">
			<div class="create-btn" data-click="create">
				<i class="u-icon-add-normal"></i>
				新建词条
				<div class="toggle-btn" data-click="toggle">
					<i class="line"></i>
					<i class="arrow u-icon-arrow-down-white-normal"></i>
				</div>
			</div>
			<ul class="create-menu">
				<li class="submenu json" data-click="import-json">导入JSON文件<a
          href="https://github.com/x-orpheus/nei-toolkit/blob/master/doc/%E5%8F%82%E6%95%B0%E8%AF%8D%E6%9D%A1%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E.md"
          target="_blank" class="json-tip">说明</a></li>
				<li class="submenu project" data-click="import-project-word"><span>导入项目已有参数</span></li>
        <!-- 先隐藏入口 <li class="submenu progroup f-dn" data-click="import-progroup-word"><span>导入项目组已有参数</span></li> -->
			</ul>
		</div>
	</div>
	<input type="file" class="j-file f-dn"/>
  </div>
</textarea>

<textarea name="css" data-src="./res_word.css"></textarea>
<textarea name="js" data-src="./res_word.js"></textarea>
