<meta charset="utf-8"/>
<textarea name="txt" id="module-res-datatype-detail-tab">
	<div class="m-res-dt-d-tab">
		<div class="tab-wrap"></div>
	</div>
</textarea>
<textarea name="jst" id="m-res-dt-detail-tabs">
	{list xlist as x}
	<a class="stateful tab" href="/datatype/detail/${x.type}/?pid=${pid}&id=${id}"
     data-id="/progroup/p/res/datatype/detail/${x.type}/">
		${x.name}
		<span class="${x.type}-sufix"> ${x.sufix || ''} </span>
	</a>
	{/list}
</textarea>

<textarea name="css" data-src="./res_datatype_detail_tab.css"></textarea>
<textarea name="js" data-src="./res_datatype_detail_tab.js"></textarea>
