<meta charset="utf-8"/>
<textarea name="txt" id="module-progroup-management">
  <div class="m-progroup-management">
	  <div class="con-wrap"></div>
	  <div class="apply-wrap"></div>
  </div>
</textarea>

<textarea name="txt" id='progroup-list'>
	 <cardlist options={data.cardListOptions} toplist={data.topProgroup} noToplist={data.noTopProgroup}
             publist={defaultPG} sortType={data.sortType} ref=cardlist></cardlist>
</textarea>

<textarea name="css" data-src="./progroup_management.css"></textarea>
<textarea name="js" data-src="./progroup_management.js"></textarea>
