<meta charset="utf-8"/>
<textarea name="txt" id="module-progroup-home-tab">
  <div class="m-progroup-home-tab">
      <div class="f-cb m-tab">
          <a class="stateful tab" href="/progroup/home/management/" data-id="/progroup/home/management/">管理</a>
          <a class="stateful tab" href="/progroup/home/activity/" data-id="/progroup/home/activity/">动态</a>
      </div>
  </div>
</textarea>

<textarea name="css" data-src="./progroup_home_tab.css"></textarea>
<textarea name="js" data-src="./progroup_home_tab.js"></textarea>
