<meta charset="utf-8"/>
<textarea name="txt" id="module-res-interface">
  <div class="m-pg-p-r-i">
    <a class="api-mock-doc" href="https://github.com/x-orpheus/nei-toolkit/blob/master/doc/mockstore.md"
       target="_blank">在线 API Mock 接口说明</a>
    <div class="list-content">
      <div class="resource-feature-part f-dn">
        <div class="create-btn" data-click="create">
          <i class='u-icon-add-normal interface-add-icon'></i>
          新建接口
          <div class="toggle-btn" data-click="toggle">
            <i class="line"></i>
            <i class="arrow u-icon-arrow-down-white-normal"></i>
          </div>
        </div>
        <ul class="create-menu">
          <li class="submenu file" data-click="import-json">导入JSON文件<a
            href="https://github.com/x-orpheus/nei-toolkit/blob/master/doc/NEI%E5%AF%BC%E5%85%A5HTTP%E6%8E%A5%E5%8F%A3%E5%88%97%E8%A1%A8%E6%94%AF%E6%8C%81%E7%9A%84%E6%95%B0%E6%8D%AE%E6%A0%BC%E5%BC%8F.md"
            target="_blank" class="json-tip">说明</a></li>
          <li class="submenu file" data-click="import-swagger-file">导入Swagger文件</li>
          <li class="submenu file" data-click="import-postman-file">导入Postman文件</li>
          <li class="submenu file" data-click="import-har-file">导入HAR文件</li>
          <!--<li class="submenu dir" data-click="import-swagger-dir"><span>导入Swagger文件夹</span></li>-->
        </ul>
      </div>
    </div>
	  <input type="file" class="j-file f-dn" multiple/>
    <input type="file" class="j-dir f-dn" webkitdirectory/>
  </div>
</textarea>

<textarea name="css" data-src="./res_interface.css"></textarea>
<textarea name="js" data-src="./res_interface.js"></textarea>
