<meta charset="utf-8"/>
<textarea name="txt" id="module-interface-detail-res">
  <div class="m-inter-d-res">
		<div class="d-item d-item-resheaders">
			<label>响应头：</label>
			<div class="header-list"></div>
		</div>

		<div class="d-item d-item-outputs">
			<label>响应结果：</label>
			<div class="inputs-outputs"></div>
			<div class="check-result f-dn"></div>
		</div>

		<div class="res-error-tip"></div>

		<div class="d-item d-item-examples">
			<label>范例：<span class="tip"></span></label>
			<div class="sample-code f-dn"></div>
			<div class="f-italic no-sample-code">正在生成 mock 数据...</div>
			<div class="error-tip"></div>
			<div class="extra">
				<div class="btn-bar">
					<button class="u-btn refresh-mock" name="refreshMock" type="button">重置Mock数据</button>
				</div>
			</div>
		</div>

		<div class="d-item d-item-script">
			<label>接收规则：</label>
            <input class="script u-m-inp" placeholder="添加接收规则" readonly="readonly">
		</div>

		<div class="d-item d-item-scriptResult f-dn">
			<label>处理结果：</label>
			<div class="script-result"></div>
		</div>
  </div>
</textarea>

<textarea name="css" data-src="./interface_detail_res.css"></textarea>
<textarea name="js" data-src="./interface_detail_res.js"></textarea>
