<meta charset="utf-8">
<textarea name="txt" id="module-test-dependency">
  <div class="module-test-dependency">
    <div class="btn-bar">
      <button class="reset-test u-btn">重置</button>
      <button class="start-test u-btn">开始测试</button>
    </div>
    <div class="report-panel"></div>
    <div class="report-list">
      <div class="report-general">
        <div class="report-status"></div>
        <div class="report-num">
          测试成功/失败路径数：
          <span class="report-success"></span>
          /
          <span class="report-fail"></span>
        </div>
      </div>
    </div>
  </div>
</textarea>
<textarea name="css" data-src="./dependency_test.css"></textarea>
<textarea name="js" data-src="./dependency_test.js"></textarea>
