<meta charset="utf-8"/>
<textarea name="txt" id="module-interface-detail-version">
  <div class="m-pg-p-r-i-v">
	<div class="list-content">
  		<div class="resource-feature f-dn">
	  		<div class="stateful resource-version-add">
	  			<i class='u-icon-add-normal interface-add-icon'></i>
	  			新建版本
	  		</div>
  		</div>
	</div>
  </div>
</textarea>

<textarea name="css" data-src="./interface_detail_version.css"></textarea>
<textarea name="js" data-src="./interface_detail_version.js"></textarea>
