<meta charset="utf-8">
<textarea name="txt" id="module-test-case-detail">
    <div class="m-test-case-detail u-form-create">
        <div class="form-title"></div>
        <div class="form-body"></div>
    </div>
</textarea>
<textarea name="jst" id="module-test-case-detail-title">
    <div class="title">
        ${name|escape}
    </div>
    <a href=${url} class="goback stateful">返回<i class="u-icon-back-normal-2"></i></a>
</textarea>

<textarea name="css" data-src="./test_case_detail.css"></textarea>
<textarea name="js" data-src="./test_case_detail.js"></textarea>
