<meta charset="utf-8"/>
<textarea name="txt" id="module-layout-dashboard">
    <div class="g-board">
        <div class="dashboard">
            <div class="g-main">
                <div class="dashboard-search"></div>
                <div class="m-lastview">
                    <div class="title">最近查看的接口</div>
                    <div class="view-history-list j-flag"></div>
                </div>
                <div class="m-lastuse">
                    <div class="title">最近使用的项目</div>
                    <div class="project-list j-flag"></div>
                </div>
                <div class="m-unprocess">
                    <div class="title">未处理的申请</div>
                    <div class="apply-list j-flag"></div>
                </div>
            </div>
            <div class="g-side">
                <div class="m-news">
                    <div class="title">动态</div>
                    <div class="news-list j-flag"></div>
                </div>
            </div>
        </div>
    </div>
</textarea>
<textarea name="jst" id="recentprojectlist"></textarea>
<textarea name="css" data-src="./dashboard.css"></textarea>
<textarea name="js" data-src="./dashboard.js"></textarea>
