<meta charset="utf-8"/>
<textarea name="txt" id="module-layout-test">
    <div class="m-test">
        <div class="panel-wrap">
            <div class="sch-wrap">
                <input class="sch-ipt u-input" type="search" placeholder="搜索">
            </div>
            <div class="panel-tab-wrap"></div>
            <div class="panel-tab-con"></div>
        </div>
        <div class="main-tab-wrap"></div>
    </div>
</textarea>

<textarea name="css" data-src="./test.css"></textarea>
<textarea name="js" data-src="./test.js"></textarea>
