<meta charset="utf-8"/>
<textarea name="txt" id="module-pg-d-pr">
  <div class="m-pg-d-pr">
      <div class="pg-pr-method f-cb">
          <label>验证方式：</label>
          <div class="type-choose type-verify" onselectstart='return false;'>
              <i class="u-icon-radio-normal"></i>
              <i class="u-icon-radio-pressed"></i>
              <div class="method-text">验证通过</div>
          </div>
          <div class="type-choose type-auto" onselectstart='return false;'>
              <i class="u-icon-radio-normal"></i>
              <i class="u-icon-radio-pressed"></i>
              <div class="method-text">自动通过为</div>
          </div>
          <div class="role-select"></div>
      </div>
      <div class="pg-pr-list"></div>
  </div>
</textarea>

<textarea name="css" data-src="./progroup_detail_pr.css"></textarea>
<textarea name="js" data-src="./progroup_detail_pr.js"></textarea>
