<meta charset="utf-8"/>
<textarea name="txt" id="module-notification-tab">
  <div class="m-notification-tab">
      <div class="js-tab m-tab">
          <a class="stateful tab" href="/notification/system/" data-id="/notification/system/">
          系统
          <i class="unread-s unread f-dn"></i>
      </a>
      <a class="stateful tab" href="/notification/personal/" data-id="/notification/personal/">
          个人
          <i class="unread-p unread f-dn"></i>
      </a>
      <a class="stateful tab" href="/notification/api/" data-id="/notification/api/">
          接口变更确认
          <i class="unread-a unread f-dn"></i>
      </a>
      <a class="stateful tab" href="/notification/audit/" data-id="/notification/audit/">
          审核任务
          <i class="unread-audit unread f-dn"></i>
      </a>
      </div>
  </div>
</textarea>

<textarea name="css" data-src="./notification_tab.css"></textarea>
<textarea name="js" data-src="./notification_tab.js"></textarea>
