<meta charset="utf-8"/>
<textarea name="txt" id="module-progroup-search-tab">
    <div class="m-progroup-search-tab">
        <div class="f-cb m-tab">
            <a class="stateful tab tab-pg" data-id="/search/group/">项目组</a>
            <a class="stateful tab tab-pro" data-id="/search/project/">项目</a>
        </div>
        <div class="f-cb search-inp-wrap">
            <input type="search" class="u-input search-input" placeholder="输入项目组或者项目名称" maxlength="60"/>
            <button class="u-btn search-btn"><i class="u-icon-search-small-normal"></i></button>
        </div>
    </div>
</textarea>

<textarea name="css" data-src="./progroup_search_tab.css"></textarea>
<textarea name="js" data-src="./progroup_search_tab.js"></textarea>
