<meta charset="utf-8"/>
<textarea name="txt" id="module-spec-discover">
  <div class="m-spec-discover">
      <div class="spec-disc-logo">
          <img src="" alt="NEI" title="NEI"/>
      </div>
      <div class="spec-disc-search">
          <div class="search-box">
              <div class="search-type">
                  <span>WEB工程</span><div class="u-icon-arrow-down-normal"></div>
              </div><!--
          --><input class="search-input" type="text"/>
          </div><!--
          --><div class="search-button"><a class="u-icon-search-big-normal"></a></div>
      </div>
      <ul class="spec-disc-hot">
          <li>
              <a>使用标准的Java Annotation</a>
          </li>
          <li>
              <a>在Eclipse中使用模板</a>
          </li>
          <li>
              <a>JavaScript书写规范</a>
          </li>
      </ul>
    </div>
</textarea>

<textarea name="css" data-src="./spec_discover.css"></textarea>
<textarea name="js" data-src="./spec_discover.js"></textarea>
