<meta charset="utf-8"/>
<textarea name="txt" id="module-spec-ref">
  <div class="m-res-ref m-spec-ref">
      <div class="f-cb d-title"></div>
      <div class="list-content"></div>
  </div>
</textarea>
<textarea name="jst" id='module-spec-ref-detail'>
	<div class="spec-detail">
        <div class="res-name f-fl" title="${name|escape}">${name|escape}<span class="tip">引用该规范的项目列表</span></div>
        <a class="f-fr stateful go-back" href="/spec/?pid=${projectId}">
            <span>返回</span>
            <i class="u-icon-back-normal-2"></i>
        </a>
    </div>
</textarea>

<textarea name="css" data-src="./spec_ref.css"></textarea>
<textarea name="js" data-src="./spec_ref.js"></textarea>
