<meta charset="utf-8"/>
<textarea name="txt" id="module-datatype-detail-attribute">
	<div class="m-dt-d-att">
	</div>
</textarea>

<textarea name="jst" id="datatype-detail-attribute-content">
    <div class="d-item d-item-attributes">
        <label>类别：</label>
        <div class="list"></div>
    </div>

    <div class="d-item d-item-examples">
        <label>范例：</label>
        <div class="sample-code f-dn"></div>
        <div class="no-sample-code">正在生成 mock 数据...</div>
    </div>
</textarea>

<textarea name="css" data-src="./datatype_detail_attribute.css"></textarea>
<textarea name="js" data-src="./datatype_detail_attribute.js"></textarea>

