<meta charset="utf-8"/>
<textarea name="txt" id="module-rpc-detail-res">
  <div class="m-rpc-d-res">
		<div class="d-item d-item-outputs">
			<label>响应结果：</label>
			<div class="outputs-list"></div>
		</div>
		<div class="d-item d-item-examples">
			<label>范例：<span class="tip"></span></label>
			<div class="sample-code f-dn"></div>
			<div class="f-italic no-sample-code">正在生成 mock 数据...</div>
			<div class="error-tip"></div>
			<div class="extra">
				<div class="btn-bar">
					<button class="u-btn refresh-mock" name="refreshMock" type="button">重置Mock数据</button>
				</div>
			</div>
		</div>
  </div>
</textarea>

<textarea name="css" data-src="./rpc_detail_res.css"></textarea>
<textarea name="js" data-src="./rpc_detail_res.js"></textarea>
