<meta charset="utf-8"/>
<textarea name="txt" id="module-spec-create">
  <div class="m-spec-create">
      <div class="m-title">
          <span>新建<span class="u-type"></span>工程规范</span>
          <a class="u-back stateful" href="/spec/list">
              <span>返回</span><span class="u-icon-back-normal-2"></span>
          </a>
      </div>
      <form class="m-form">
          <div class="item">
              <label><i class="u-required">*</i>名称：</label>
              <input class="form-item" type="text" name="name" placeholder="输入规范名称" data-required="true"
                     data-ignore="true"/>
          </div>
          <div class="item">
              <label>描述：</label>
              <textarea class="form-item u-des" name="description" placeholder="输入规范描述信息" data-ignore="true"><&#47;textarea>
          </div>
      </form>
      <div class="m-btn">
          <a class="u-submit" data-click="submit">保存</a>
      </div>
  </div>
</textarea>

<textarea name="css" data-src="./spec_create.css"></textarea>
<textarea name="js" data-src="./spec_create.js"></textarea>
