<meta charset="utf-8"/>
<textarea name="txt" id="module-setting-tab">
  <div class="m-setting-tab m-tab">
      <a class="stateful tab" href="/setting/profile/" data-id="/setting/profile/">基本资料</a>
      <a class="stateful tab" href="/setting/personal-access-token/" data-id="/setting/personal-access-token/">访问令牌</a>
      <a class="stateful tab" href="/setting/notification/" data-id="/setting/notification/">通知设置</a>
      <a class="stateful tab" href="/setting/cache/" data-id="/setting/cache/">缓存设置</a>
  </div>
</textarea>

<textarea name="css" data-src="./setting_tab.css"></textarea>
<textarea name="js" data-src="./setting_tab.js"></textarea>
