<meta charset="utf-8"/>
<textarea name="txt" id="module-res-rpc">
  <div class="m-pg-p-r-r">
    <a class="api-mock-doc" href="https://github.com/x-orpheus/nei-toolkit/blob/master/doc/RPC在线Mock接口调用说明.md"
       target="_blank">在线 API Mock 接口说明</a>
    <div class="list-content">
      <div class="resource-feature-part f-dn">
        <div class="create-btn" data-click="create">
          <i class='u-icon-add-normal rpc-add-icon'></i>
          新建接口
          <div class="toggle-btn" data-click="toggle">
            <i class="line"></i>
            <i class="arrow u-icon-arrow-down-white-normal"></i>
          </div>
        </div>
        <ul class="create-menu">
          <li class="submenu file" data-click="import-rpc">导入RPC文件<a
            href="https://github.com/x-orpheus/nei-toolkit/blob/master/doc/NEI导入RPC接口列表支持的数据格式.md" target="_blank"
            class="json-tip">说明</a></li>
          <li class="submenu file" data-click="import-rpc-dir">导入RPC文件夹</li>
          <li class="submenu file" data-click="import-json">导入JSON文件</li>
        </ul>
      </div>
    </div>
	  <input type="file" class="j-file f-dn" multiple accept=".java,.json,.txt"/>
    <input type="file" class="j-dir f-dn" webkitdirectory/>
  </div>
</textarea>

<textarea name="css" data-src="./res_rpc.css"></textarea>
<textarea name="js" data-src="./res_rpc.js"></textarea>
