<meta charset="utf-8"/>
<textarea name="txt" id="module-res-group-ref">
  <div class="m-res-ref m-res-g-ref">
      <div class="f-cb d-title"></div>
      <div class="list-content"></div>
  </div>
</textarea>
<textarea name="jst" id='module-res-group-ref-detail'>
	<div class="group-detail">
        <div class="res-name f-fl" title="${name|escape}">${name|escape}<span class="tip">属于该分组的资源列表</span></div>
        <a class="f-fr stateful go-back" href="/group/?pid=${projectId}">
            <span>返回</span>
            <i class="u-icon-back-normal-2"></i>
        </a>
    </div>
</textarea>

<textarea name="css" data-src="./res_group_ref.css"></textarea>
<textarea name="js" data-src="./res_group_ref.js"></textarea>


