<meta charset="utf-8"/>
<textarea name="txt" id="module-setting-cache">
  <div class="m-setting-cache">
    <div class="cache-part">
      <div class="clear-part">
        <div>
              <a class="clear-btn" href="javascript:void(0);">清除缓存</a></div>
        <p class="description">
            系统中的一些个性化设置数据是保存在浏览器的缓存中的，比如接口列表页面的查看模式、标签筛选条件等。如果想还原设置，请点击上面的清除按钮，将这些缓存数据清除即可。
        </p>
      </div>
    </div>
  </div>
</textarea>

<textarea name="css" data-src="./setting_cache.css"></textarea>
<textarea name="js" data-src="./setting_cache.js"></textarea>

