<meta charset="utf-8">
<textarea name="txt" id="module-test-collection-list">
  <div class="m-test-collection-list">
    <div class="no-item-tip no-item-tip-icon">
      <i class="u-icon-no-found-data"></i>
      <p>请选择测试集！</p>
    </div>
    <div class="collection-content-wrap">
      <div class="u-form-create">
        <div class="form-group">
          <label>服务器：</label><input type="text" name="host" placeholder="服务器地址" class="u-m-inp" readonly>
        </div>
      </div>
      <div class="interface-list">
        <div class="list-content"></div>
        <div class="collect-actions">
          <button class="start-test u-btn">测试全部</button>
          <button class="interface-add u-btn"><i class="u-icon-add-normal"></i>增加接口</button>
        </div>
      </div>
    </div>
  </div>
</textarea>

<textarea name="css" data-src="./list.css"></textarea>
<textarea name="js" data-src="./list.js"></textarea>
