<meta charset="utf-8"/>
<textarea name="txt" id="module-progroup-applylist">
  <div class="m-progroup-applylist">
  	<div class="apply-title f-cb">
		<div class="title">我的申请列表</div>
		<div class="f-cb search-form " tabindex="0">
			<input type="search" class="u-input j-pg-search" placeholder='输入项目组或者项目名称'>
			<button class="search-icon"><i class="u-icon-search-small-normal"></i> </button>
		</div>
	</div>
	<div class="apply-list">
	</div>
  </div>
</textarea>

<textarea name="css" data-src="./progroup_applylist.css"></textarea>
<textarea name="js" data-src="./progroup_applylist.js"></textarea>
