<meta charset="utf-8"/>
<textarea name="txt" id="module-system-tab">
	<div class="m-sys-left">
		<div class="m-sys-logo">
      <a href="/"><i class="u-icon-logo-main-page-white-normal"></i></a>
    </div>
		<div class="m-sys-tab">
			<div class="tab-top">
				<a class="stateful tab" href="/dashboard/" data-id="/dashboard/">
					<ul>
						<li class="icon u-icon-overview-normal normal"></li>
						<li class="icon u-icon-overview-hover hover"></li>
						<li class="icon u-icon-overview-pressed pressed"></li>
						<li>总览</li>
					</ul>
				</a>
				<a class="stateful tab" href="/progroup/home/management/" data-id="/progroup/home/management/">
					<ul>
						<li class="icon u-icon-project-management-normal normal"></li>
						<li class="icon u-icon-project-management-hover hover"></li>
						<li class="icon u-icon-project-management-pressed pressed"></li>
						<li>项目管理</li>
					</ul>
				</a>
				<a class="stateful tab" href="/test/" data-id="/test/">
					<ul>
						<li class="icon u-icon-interface-test-normal normal"></li>
						<li class="icon u-icon-interface-test-hover hover"></li>
						<li class="icon u-icon-interface-test-pressed pressed"></li>
						<li>接口测试</li>
					</ul>
				</a>
				<a class="stateful tab j-spec" href="/spec/list/?s=web&l=my" data-id="/spec/">
					<ul>
						<li class="icon u-icon-guideline-search-normal normal"></li>
						<li class="icon u-icon-guideline-search-hover hover"></li>
						<li class="icon u-icon-guideline-search-pressed pressed"></li>
						<li>工程规范</li>
					</ul>
				</a>
				<a class="stateful tab j-notification" href="/notification/system/" data-id="/notification/">
					<ul>
						<li class="icon u-icon-notice-normal normal"></li>
						<li class="icon u-icon-notice-hover hover"></li>
						<li class="icon u-icon-notice-pressed pressed"></li>
						<li class="u-unread"></li>
						<li>消息中心</li>
					</ul>
				</a>
			</div>
			<div class="tab-bottom">
				<a class="stateful tab process j-process">
					<ul>
						<li class="process-con stop">
							<div class="con-l">
								<div class="crl-l"></div>
							</div>
							<div class="con-r">
								<div class="crl-r"></div>
							</div>
							<div class="process-percent">0%</div>
						</li>
						<li>测试进度</li>
					</ul>
				</a>
				<a class="stateful tab setting" href="/setting/" data-id="/setting/" title="设置">
					<i class="u-icon-setting-normal normal"></i>
					<i class="u-icon-setting-pressed hover"></i>
				</a>
                <div class="feedback">
                    <a class="stateful tab" title="反馈">
                        <i class="u-icon-feedback-normal normal"></i>
                        <i class="u-icon-feedback-pressed hover"></i>
                    </a>
                    <ul class="feedback-list">
                        <li><a href="https://github.com/x-orpheus/nei-toolkit/issues" target="feedback-github"><i
                          class="u-icon-github"></i></a></li>
                        <li class="popo">泡泡群：1311121</li>
                        <li class="qq">QQ群：453281988</li>
                    </ul>
                </div>
				<a class="tab" href="/logout" title="退出">
					<i class="u-icon-shut-down-normal normal"></i>
					<i class="u-icon-shut-down-hover hover"></i>
				</a>
			</div>
		</div>
	</div>

</textarea>

<textarea name="css" data-src="./system_tab.css"></textarea>
<textarea name="js" data-src="./system_tab.js"></textarea>

